<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MOTORQ Rentals</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2XXD4t3OaG0Fquv1BQEGK15yP1enXoLVvA+QlZg2n5eezLgLBrFx4c1S5S+AmJ9KN0dXN1mQ=="
    crossorigin=""
  />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="https://cdn.pixabay.com/photo/2014/04/03/10/27/car-310523__340.png"
        height="20"
        alt="MOTORQ Logo"
        loading="lazy"
      />
    </a>
  </div>
</nav>
<body>
  <div class="jumbotron centered">
    <div class="container">
